
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
.header{
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.header__left{
    justify-content: flex-start;
    padding-left: 30px;
}
.header__right{
    justify-content: end;
}
.nav-link{
    padding: 6px;
    color: aliceblue;
    font-size: 12px;
    background-color: black;
    box-sizing: border-box;
}
.nav-link>img{
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: aliceblue;
    margin: 0;
}

.container{
    width: 100%;
}

.container__left{
    width: 220px;
    position: fixed;
    top: 32px;
    left: 0;
}

.container__right{
    margin-left: 220px;
}


